services:
  backend:
    build: ./server
    container_name: backend
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "4000:4000"

  frontend:
    build: 
      context: ./client
      args:
        VITE_API_URL: http://localhost:4000/api
    container_name: frontend
    restart: always
    stdin_open: true
    ports:
      - "5173:5173"
    depends_on:
      - backend